
body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

.container{
	background-color: #ecf0f1;
	width: 1140px;
	margin: auto;
}
h1{
	font-size: 24px;
}
h2{
	font-size: 20px;
}
small{
	font-size: 12px;
}
div,li,iframe{
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
.main-content {
margin-top: 70px;
}
.content-other{
margin-top: 70px;
padding: 20px;	
min-height: 350px;
}
.menu {
position: absolute;
z-index: 2;
}
#jag{
	float: left;
	height: 300px;
	padding-right: 20px;
	padding-top: 20px;
}
ol{
	list-style: none;
}
.right{
	float: right;
}
.left{
	float: left;
}
.menu li{
	display: inline-table;
	background-color: #3498db;
	padding: 20px;
}
.menu li:hover{
	background-color: #95a5a6;
}
.menu ul li:hover{
	background-color: #bdc3c7;
}
.menu  a {
	text-decoration: none;

}
.menu ul{
	display: none;
	width: 150px;
}
.menu ul li{
	background-color: #2980b9;
	margin-top: 20px;
}
.menu li:hover > ul{
	display: block;
}
.aside{
	margin-top: 70px;
}
.article{
	background-color: #7f8c8d;
	margin-bottom: 20px;
	padding: 20px;
}
.article:last-child{
	margin-bottom: 0;
}
.footer{
	margin-top: 20px;
	padding: 20px;
	text-align: center;
}
table, th, td {
   border: 1px solid black;
   padding: 15px;
}
.sub{
	text-align: center;
}